* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Courier New", Courier, monospace;
    max-width: 100vw;
}

body {
    overflow-x: hidden;
}
nav {
    background-color: #292a2f;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.text-logo-navbar {
    color: #ffffff;
    font-size: 1.563rem;
    font-weight: 600;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 0.063rem solid transparent;
    border-radius: 1.563rem;
    transition: ease-in-out 0.7s;
}

.nav-item a:hover {
    border: 0.063rem solid #ffffff;
    border-radius: 1.563rem;
    background-color: #ffffff20;
}

.navbar-toggler-icon,
button.navbar-toggler {
    background-color: #ffffff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.blur {
    background: url("/img/homepage/banner-initial.png") no-repeat
        center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(0.938rem);
    transition: filter 1s;
    position: absolute;
    height: 100%;
    width: 100%;
}

.blur.click-blur {
    filter: blur(0);
    transition: filter 1s;
}

.located-in-pt {
    position: absolute;
    background-color: #3e3f43;
    bottom: 45%;
    width: 20rem;
    height: 5.938rem;
    border-top-right-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.938rem 0rem #000000bf;
    -moz-box-shadow: 0.25rem 0.25rem 0.938rem 0rem #000000bf;
    box-shadow: 0.25rem 0.25rem 0.938rem 0rem #000000bf;
}

.text-right-banner {
    position: absolute;
    bottom: 47%;
    right: 3%;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.875rem;
}

.img-located-in-pt {
    position: absolute;
    right: 0.625rem;
    top: 0.375rem;
    width: 5rem;
    height: 5rem;
    background-color: #292a2f;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.img-located-in-pt img {
    width: 80%;
    margin: 0 auto;
}

.text-located-in-pt {
    position: absolute;
    top: 1.25rem;
    right: 5rem;
    color: #ffffff;
    line-height: 1.563rem;
    text-align: start;
    width: 30%;
}

.text-name-main-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-name-main-banner p {
    color: #ffffff;
    text-align: center;
    font-size: 13rem;
    line-height: 15.625rem;
    transition: all 0.5s;
}

@media (min-width: 1100px) {
    .text-name-main-banner:hover {
        animation: marquee 5s linear infinite;
    }

    .img-located-in-pt img:hover {
        animation: rotate 2s linear infinite;
    }
}

@media (max-width: 756px) {
    .blur {
        background: url("/img/homepage/banner-initial-m.png")
            no-repeat center center fixed;
    }
    .text-right-banner {
        bottom: 5%;
    }

    .text-name-main-banner {
        bottom: 84%;
    }

    .text-name-main-banner p {
        font-size: 2.2rem;
        text-align: start;
        padding: 1rem;
        line-height: 4rem;
    }
}
